
.slide {
    min-width:100%;
    height:100%;
    background-size:cover;
    background-position:center;
    position:relative;
    display:flex;
    align-items:flex-end;
}



.slideTitle {
    font-size:clamp(1.2rem,2.2vw,1.8rem);
    font-weight:700;
    margin-bottom:8px;
    text-align:left;
}

.slideText {
    font-size:clamp(.95rem,1.5vw,1.05rem);
    max-width:420px;
    text-align:left;
    line-height:1.4;
}
