
.carousel {
    border: 0.25rem solid black;
    position:relative;
    width:100%;
    max-width:920px;
    height:520px;
    border-radius:16px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.6);
}

.slides {
    display:flex;
    flex-direction: column-reverse;
    height:100%;transition:
    transform .7s cubic-bezier(.2,.9,.3,1);
    touch-action:pan-y;
}

.slides > * {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}