
.carousel {
    border: 0.25rem solid black;
    position:relative;
    width:100%;
    max-width:920px;
    height:520px;
    margin:20px auto;
    border-radius:16px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.6);
}

.slides {
    display:flex;
    flex-direction: column-reverse;
    height:100%;transition:
    transform .7s cubic-bezier(.2,.9,.3,1);
    touch-action:pan-y;
}



.indicators {
    position:absolute;
    bottom:18px;right:18px;
    display:flex;
    gap:6px;
    z-index:10;
    cursor: pointer;
}

.bar {
    width:30px;
    height:5px;
    background:rgba(255,255,255,0.35);
    border-radius:3px;transition:all .25s ease;
}

.bar.active {
    background:rgba(255,255,255,0.95);
    transform:scaleY(1.1);
}

.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    width: 0;
    background-color: var(--verde-oscuro);
    z-index: 9999;
    transition: width 2s ease-in-out;
}

.loading-bar.active {
    width: 100%;
}

.slides > * {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}