.prinsipal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec1, .sec2, .sec3 {
  margin: 0 auto;
}
.sec1 {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    width: 80%;
   
    .seccion1 {
        width: 100%;
        background-color: var(--marron-clarito);
        display: flex;
        padding: 2rem;
        gap: 2rem;
        border: solid var(--marron) 0.25rem;
        border-radius: 0.5rem;
        
        section {
            display: flex;
            flex-direction: column;
            width: 50%;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            p {
                color: var(--blanco);
                width: 100%;
            }
            h2 {
                color: var(--blanco);
            }
        }
        img {
            display: flex;
            min-width: 50%;
            height: 20rem;
        }
    }
}

.sec2 {
    display: flex;
    width: 80%;
  
    .carruselIndex {
        min-width: 50%;
        border-radius: 0.5rem 0 0 0.5rem ;
        border-right: none;
    }

    .carrusel2Index {
        min-width: 50%;
        border-left: 0.25rem solid var(--negro);
        border-radius: 0 0.5rem 0.5rem 0;
    }
}

.sec3 {
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 4rem;

    .normal {
        padding: 1rem;
        text-align: center;
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
        background-color: var(--gris);
        border: solid 0.25rem var(--marron);
        border-radius: 0.5rem;
        
        &:hover {
            transform: scale(1.1);
            transition: all 0.5s ease;
        }
    
        p {
            max-width: 20rem;
        }
    }
}

@media (max-width: 780px) {
    .sec1 {
        justify-content: center;
        align-items: centers;
        width: 100%;
        .seccion1 {
            padding: 2rem 0 0 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            
            section {
                width: 100%;
            }

            img {
                width: 100%;
                min-width: 0;
                border-radius: 0 0 0.5rem 0.5rem;
            }
        }
    }

    .sec2 {
        width: 100%;
        flex-direction: column;
        
 
        .carruselIndex, .carrusel2Index {
            border: 0.25rem solid var(--negro);
            height: 40vh;
            width: 100%;
        }

        .carruselIndex {
            border-radius: 0.5rem 0.5rem 0 0;
            border-bottom: none;
        }

        .carrusel2Index {
            border-radius: 0 0 0.5rem 0.5rem;
        }

    }

    .sec3 {
        width: 100%;
        flex-direction: column;
        align-items: center;

        .normal {
            max-width: unset;
            width: 100%;
            text-align: center;
            align-items: center;
            
        }
    }
}

