
.sec1 {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
   
    .seccion1 {
        background-color: var(--marron-clarito);
        width: 70%;
        display: flex;
        padding: 2rem;
        gap: 2rem;
        border: solid var(--marron) 0.25rem;
        border-radius: 0.5rem;
        
        section {
            display: flex;
            flex-direction: column;
            width: 50%;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            p {
                color: var(--blanco);
                width: 100%;
            }
            h2 {
                color: var(--blanco);
            }
        }
        img {
            display: flex;
            min-width: 50%;
            height: 20rem;
        }
    }
}

.sec2 {
    margin: 0 6rem;
    display: flex;
    max-width: 86%;
  
    .carruselIndex {
        border-radius: 0.5rem 0 0 0.5rem ;
    }

    .carrusel2Index {
        border-radius: 0 0.5rem 0.5rem 0;
    }
}

.sec3 {
    padding: 5rem 0;
    display: flex;
    justify-content: center;

    .normal {
        padding: 0.5rem;
        text-align: center;
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
        background-color: var(--gris);
        max-width: 25%;
        margin: 2rem;
        border: solid 0.25rem var(--marron);
        border-radius: 0.5rem;
    
        p {
            max-width: 20rem;
        }
    }
}

@media (max-width: 780px) {
    .sec1 {
        justify-content: center;
        align-items: centers;
        .seccion1 {
            width: 100%;
            padding: 2rem 0 0 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            
            section {
                width: 100%;
            }

            img {
                width: 100%;
                min-width: 0;
                border-radius: 0 0 0.5rem 0.5rem;
            }
        }
    }

    .sec2 {
        margin: 0; 
        max-width: 100%;
        width: 100%;
        flex-direction: column;

        .carruselIndex {
            border-radius: 0.5rem 0.5rem 0 0;
        }

        .carrusel2Index {
            border-radius: 0 0 0.5rem 0.5rem;
        }
    }

    .sec3 {
        flex-direction: column;
        align-items: center;

        .normal, .grande {
            max-width: 50%;
        }
    }
}

