
.prinsipal {
    display: flex;
    flex-direction: column;
    margin: -5rem 0;

    .carrito {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-color: var(--gris);
        padding: 3rem 1rem;
        gap: 2rem;
    }

    .compra {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        height: 3rem;
        background-color: var(--marron);

        button {
            background-color: var(--gris);

            &:hover {
                background-color: var(--blanco);
            }
        }

        p {
            color: var(--blanco);
        }
    }

}
