
.principal {
    display: flex;
    flex-direction: column;
    margin: -5rem 0;
    justify-content: center;
    padding: 3rem;
    background-color: var(--gris);
    align-items: center;
    
    .carritoVacio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    
        p  {
            display: flex;
            text-align: center;
            font-weight: bold;
        }

        a {
            padding: 0.5rem;
            border-radius: 0.5rem;
            text-decoration: none;
            background-color: var(--marron);
            color: var(--blanco);
        }
    }

    h2 {
        text-align: center;
    }

    .carrito {
        display: grid;
        grid-template-columns: 3rem repeat(4, 1fr);
        padding: 3rem 1rem;
        gap: 2rem;

        .header {
            font-weight: bold;
            display: grid;
            grid-template-columns: subgrid;
            grid-column: 2 / -1;
        }

        .total {
            width: 80%;
            grid-column: 5;
            font-weight: bold;
        }       
        
    }

    
    .compra {

        background-color: var(--marron);
        color: var(--blanco);
        border-radius: 0.5rem;
        display: flex;
        text-align: center;
        width: 10rem;
        height: 5rem;
        font-size: 2.5rem;
        align-items: center;

        &:hover {
            color: var(--marron);
            background-color: var(--blanco);
        }
    }

}

@media (max-width: 780px) {

    .principal {
        gap: 2rem;
        .carrito {
        grid-template-columns: 3rem repeat(4, 1fr);
            
            .header {
                display: none;
            }
        }
    }


    .principal .carrito .total {
        grid-column: 4;
        width: 150%;
        text-align: center;
    }

}
