
.prinsipal {
    display: flex;
    flex-direction: column;
    margin: -5rem 0;
    justify-content: center;
    padding: 3rem 0 0 0;
    background-color: var(--gris);
    
    h2 {
        text-align: center;
    }

    .carrito {
        display: flex;
        flex-direction: column;
        padding: 3rem 1rem;
        gap: 2rem;

        ul {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            list-style: none;
        }
    }

    .compra {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        height: 3rem;
        background-color: var(--marron);

        button {
            background-color: var(--gris);

            &:hover {
                background-color: var(--blanco);
            }
        }

        p {
            color: var(--blanco);
        }
    }

}
