.prinsipal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.contenido {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-items: center;
  padding: 5rem 15rem 5rem 5rem;
  background-color: var(--crema);

  .sec1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    align-items: center;

    p {
      max-width: 50%;
      min-width: 50%;
    }
  }

  .sec2 {
    max-width: 40%;

    img {
      height: 30rem;
    }
  }

}



.alerta{
    position: absolute;
    padding: 1rem 2rem;
    background-color: var(--gris);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}






.boton {
  text-align: center;
  margin-bottom: 5rem;




  button {
    padding: 0.8rem 2rem;
    background-color: var(--marron-clarito);
    color: var(--blanco);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;


    &:hover {
      background-color: var(--marron);
    }
  }
}


@media (max-width: 780px) {
  .prinsipal {
    gap: 2rem;
  }
  .contenido {
    padding: 0 !important;
    margin: 0;
    width: 100vw;
    max-width: 100vw;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .contenido .sec1 {
    width: 100%;
    text-align: center;
  }

  .contenido .sec1 p {
    width: 100%;
    max-width: none;
    min-width: 0;
  }

  .contenido .sec2 {
    width: 100vw !important;
    max-width: 100vw !important;
    margin: 0;
    padding: 0;
  }

  .contenido .sec2 img {
    width: 100vw !important;
    max-width: 100vw !important;
    height: auto;
    display: block;
  }
}







