.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: var(--negro) solid 0.25rem;
    color: var(--blanco);
    .restoFooter {
        padding: 5rem 2rem 0 2rem;
        width: 100%;
        height: 100%;
        background-color: var(--marron);
        display: flex;
        
        
        section {
            display: flex;
            justify-content: center;
            gap: 0.75rem;
            
            &:nth-child(2) {
                margin: 0 auto;
            }
            
            ul {
                display: flex;
                gap: 1rem;
                padding-inline-start: 0;
                list-style: none;
                
                
                li {
                    display: flex;
                    gap: 0.5rem;
                    
                    img {
                        height: 2rem;
                    }
                    
                    a {
                        display: flex;
                    }
                }
            }
            
            .imgFooter {
                height: 3rem;
            }
            
            .menufotter {
                display: flex;
                gap: 1rem;
                padding-inline-start: 0;
                list-style: none;
                margin: 0;
                
                li {
                    display: flex;
                    gap: 0.5rem;
            
                    a {
                        display: flex;
                    }
                    
                    &:not(:last-child)::after {
                        content: "|";
                        color: var(--blanco);
                        opacity: 0.25;
                    }
                }
            }
        }
        
        a {
            text-decoration: none;
            color: var(--blanco);
        }
        img {
            transition: all 0.25s ease;
            box-shadow: unset;
            
            &:hover {
                transform: scale(1.05);
            }
        }   
    }
    .sucursales {
        padding: 1.5rem 0;
        width: 100%;
        height: 100%;
        display: flex;
        gap: 1.5rem;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(to bottom, var(--marron-clarito), var(--marron));

        div {     
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;
            color: var(--blanco);
            
            h2 {
                display: flex;
                justify-content: center;
            }

            h3 {
                display: flex;
                justify-content: center;
            }

            p {
                display: flex;
                justify-content: center;
            }
        }
    }
}

@media (max-width: 780) {
    .restoFooter {
        flex-direction: column;
        gap: 2rem;
        .menufooter {
            flex-wrap: wrap;
            display: flex;

            li::after {
                content: "" !important;
            }
        }
        .sec1{
            order: 2;
        }

        .sec2 {
            order: 1;
        }

        .sec3 {
            order: 3;
        }

    }

}   
