.product {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    height: 5rem;
    gap: 3rem;
    background-color: var(--marron);
    border-radius: 0.5rem;
    padding: 0.25rem;
    align-items: center;

    .image {
        border-radius: 0.5rem;
        width: 3rem;
        height: 100%;
        background-color: azure;
        display: flex;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    h3 {
        color: var(--blanco);
    }

    p{
        font-weight: bold;
        color: var(--blanco);
    }

    .cantidad {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        div {
            color: var(--blanco);
        }
    }
}

@media (max-width: 780px) {

    .product {
    display: grid;
    grid-template-columns: 3rem repeat(3, 1rfr);
    grid-template-rows: auto auto;
    grid-template-areas:
        "imagen nombre nombre nombre"
        "imagen precio cantidad total";
    height: 5rem;
    gap: 1rem;
    background-color: var(--marron);
    border-radius: 0.5rem;
    padding: 0.25rem;
    align-items: center;

        .image {
            grid-area: imagen;
            margin-left: 0.5rem;
            width: 2rem;
            height: 2rem;
        }

        .name { 
            grid-area: nombre;
        }

        .costo {
            grid-area: precio;
        }

        .cantidad {
            grid-area: cantidad;
        }

        .subTotal {
            grid-area: total;
        }


    }
}