.product {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    height: 5rem;
    gap: 3rem;
    background-color: var(--marron);
    border-radius: 0.5rem;
    padding: 0.25rem;
    align-items: center;

    .image {
        border-radius: 0.5rem;
        width: 3rem;
        height: 100%;
        background-color: azure;
        display: flex;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    h3 {
        color: var(--blanco);
    }

    p{
        font-weight: bold;
        color: var(--blanco);
    }

    .cantidad {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        div {
            color: var(--blanco);
        }
    }
}

@media (max-width: 780px) {
    .product {
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        padding: 0 0 .5rem .5rem;

        .image {
            margin-left: 0.5rem;
            width: 2rem;
            height: 2rem;
        }
    }
}