.product {
    display: flex;
    height: 3rem;
    gap: 3rem;
    background-color: var(--marron);
    border-radius: 0.5rem;
    padding: 0.25rem;
    align-items: center;

    .image {
        border-radius: 0.5rem;
        width: 3rem;
        height: 100%;
        background-color: azure;
        display: flex;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    h3 {
        color: var(--blanco);
    }

    p{
        font-weight: bold;
        color: var(--blanco);
    }
}