
.general {
    display: flex;
    flex-direction: column;
}

.prinsipal {
    justify-content: center;
    padding: 3rem;
    display: flex;
    max-height: 60%;
    width: 100%;
    gap: 3.33%;
    .normal {
        display: flex;
        flex-direction: column;
        max-height: 60%;
        width: 25%;
        
        
    }
    .grande {
        flex-direction: column;
        display: flex;
        max-height: 80%;
        width: 30%;
        margin: 0;
        
    }

    .carruselSucursales {
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .interno{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 30%;
        background-color: var(--gris);
        border: solid 0.25rem var(--marron);
        border-top: none;
        border-radius: 0 0 0.5rem 0.5rem ;
    }
    

}

@media ((max-width: 780px) and (min-width: 481px)) {
    .prinsipal {
        padding: 0;
        flex-direction: column;
        align-items: center;
        gap: 5rem;

        .normal, .grande {
            width: 50%;
        }
    }
}

@media (max-width: 481px) {
    
    .prinsipal {
        padding: 0;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
     
        .normal, .grande {
                width: 100%;
            }

        .interno {
            padding: 1rem 0;
        }
    }
    
}
