.prinsipal {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    .barraNav {
        display: flex;
        padding-right: 2rem;
        justify-content: space-between;
        background-color: var(--gris);
        height: 3rem;
        display: flex;
        align-items: center;
        margin-top: -5rem;

        .buscador {
            width: 50%;
            display: flex;
            gap: 0;
            input {
                width: 60%;
                display: flex;
                height: 1.5rem;
            }
            span {
                display: flex;

                &:hover {
                    background-color: var(--marron);
                }
            }
        }
        .carrito {
            display: flex;
            gap: 1rem;
            align-items: center;

            p {
                background-color: var(--marron);
                color: var(--blanco);
                border-radius: 0.5rem;
                padding: 0.5rem;
            }
        }
    }
    
    .tienda {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding: 2rem;
    
        
        ul {
            display: grid;
            grid-template-columns: repeat(auto-fit, 15rem);
            justify-content: center;
            margin: 0;
            padding-inline: 0;
            width: 100%;
            list-style: none;
            gap: 1.5rem;
    
            li {
                display: flex;
            }
        }
    }
}