.noResultado {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}


.prinsipal {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    .barraNav {
        display: flex;
        padding: 0 2rem;
        justify-content: space-between;
        background-color: var(--gris);
        height: 3rem;
        display: flex;
        align-items: center;
        margin-top: -5rem;

        .buscador {
            width: 30%;
            display: flex;
            gap: 0;
            background-color: var(--blanco);
            border-radius: 0.25rem;
            align-items: center;
            input {
                flex: 1;
                display: flex;
                height: 1.5rem;
                border: none;
                background-color: transparent;
            }
        }
        .carrito {
            display: flex;
            gap: 1rem;
            align-items: center;

            p {
                background-color: var(--marron);
                color: var(--blanco);
                border-radius: 0.5rem;
                padding: 0 0.5rem;
            }

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: black;

                span {
                    padding: 0.25rem;
                    border-radius: 0.5rem;
                    &:hover {
                        background-color: var(--marron);
                        color: var(--blanco);
                    }
                }
                
            }
        }
    }
    
    .tienda {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem;
    
        
        ul {
            display: grid;
            grid-template-columns: repeat(auto-fit, 15rem);
            justify-content: center;
            margin: 0;
            padding-inline: 0;
            width: 100%;
            list-style: none;
            gap: 1.5rem;
    
            li {
                display: flex;
            }
        }
    }
}

@media (max-width: 780px) {
    .prinsipal {
        
        .barraNav {
            .buscador {
                width: 50%;
            }
        }
    }
}